.body {
  background-color: #dedede;
  font-family: Helveticaneue, sans-serif;
  line-height: 1;
}

.section {
  width: 100vw;
  height: 100vh;
  padding-top: 1vh;
}

.background-video {
  width: 98vw;
  height: 78vh;
  border-radius: 45px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.home-hero-vid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 99vw;
  height: 78vh;
  margin-left: 0.5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #000;
}

.div-block-2 {
  width: 100%;
  height: 100%;
  border-radius: 45px;
  background-image: url('../images/pexels-victor-freitas-772662.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.background-video-2 {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.red-overlay {
  position: absolute;
  z-index: 1;
  display: none;
  width: 99vw;
  height: 78vh;
  border-radius: 45px;
  background-image: linear-gradient(45deg, rgba(112, 34, 34, 0.85), rgba(0, 0, 0, 0.45));
}

.text-block {
  width: 62.5vw;
  color: #111920;
  font-size: 2.6vw;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.13vw;
}

.main-text-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  margin-top: 5.5vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span {
  text-transform: uppercase;
}

.text-span-2 {
  text-transform: uppercase;
}

.text-span-3 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 2.8vw;
  font-style: italic;
}

.text-span-4 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 2.8vw;
  font-style: italic;
}

.text-span-5 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 2.8vw;
  font-style: italic;
}

.black-overlay {
  position: absolute;
  z-index: 1;
  width: 99vw;
  height: 78vh;
  border-radius: 45px;
  background-color: #000;
  opacity: 0.7;
}

.opening-title {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 0.85;
  color: #ededed;
  font-size: 2.5vw;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.125vw;
  text-transform: uppercase;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10vh 5vw 5vh;
}

.txt-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 22.65vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-2 {
  display: inline;
  color: #111920;
  font-size: 1.56vw;
  text-transform: uppercase;
}

.text-block-3 {
  margin-top: 3.25vh;
  color: #111920;
  font-size: 1.145vw;
  letter-spacing: -0.057vw;
}

.text-span-6 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.text-span-7 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.txt-block2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 22.65vw;
  margin-left: 4.6vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-span-8 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.text-span-9 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.text-span-10 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.text-span-11 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.text-span-12 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.text-span-13 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.text-span-14 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.text-span-15 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.text-span-16 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.text-span-17 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.text-span-18 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.text-span-19 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.text-span-20 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

.text-span-21 {
  font-family: 'PT Serif', serif;
  font-size: 1.2vw;
  font-style: italic;
  letter-spacing: -0.06vw;
}

@media screen and (max-width: 991px) {
  .home-hero-vid {
    width: 98vw;
    margin-left: 1vw;
    border-radius: 35px;
  }

  .div-block-2 {
    border-radius: 30px;
  }

  .background-video-2 {
    border-radius: 35px;
  }

  .red-overlay {
    width: 98vw;
    border-radius: 35px;
  }

  .text-block {
    width: 75vw;
    font-size: 4.5vw;
    letter-spacing: -0.225vw;
  }

  .main-text-holder {
    margin-top: 3.5vh;
  }

  .text-span-3 {
    font-size: 5vw;
  }

  .text-span-4 {
    font-size: 5vw;
  }

  .text-span-5 {
    font-size: 5vw;
  }

  .black-overlay {
    width: 98vw;
    border-radius: 35px;
    opacity: 0.6;
  }

  .opening-title {
    font-size: 4vw;
    letter-spacing: -0.2vw;
  }
}

@media screen and (max-width: 479px) {
  .home-hero-vid {
    height: 74vh;
    border-radius: 30px;
  }

  .background-video-2 {
    border-radius: 30px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .red-overlay {
    width: 98vw;
    height: 74vh;
    border-radius: 30px;
  }

  .text-block {
    width: 80vw;
    font-size: 6.75vw;
    letter-spacing: -0.3375vw;
  }

  .text-span-3 {
    font-size: 7.35vw;
  }

  .text-span-4 {
    font-size: 7.35vw;
  }

  .text-span-5 {
    font-size: 7.35vw;
  }

  .black-overlay {
    width: 98vw;
    height: 74vh;
    border-radius: 30px;
  }

  .opening-title {
    font-size: 7vw;
    letter-spacing: -0.35vw;
  }
}

@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}